<% layout('layouts/boilerplate.ejs') %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Create a New Listing</h3>
      <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <lable for="title" class="form-label">Title</lable>
          <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <lable for="description" class="form-label">Description</lable>
          <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter your description here" required></textarea>
          <div class="invalid-feedback">
            Please enter a description in the textarea.
          </div>
        </div>
        <div class="mb-3">
          <lable for="image" class="form-label">Upload Image</lable>
          <input type="file" name="listing[image]" class="form-control" />
          required
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <lable for="price" class="form-label">Price</lable>
            <input name="listing[price]" placeholder="Enter price" class="form-control" required />
            <div class="invalid-feedback">Please enter a valid price!</div>
          </div>
          <div class="mb-3 col-md-8">
            <lable for="country" class="form-label">Country</lable>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required />
            <div class="invalid-feedback">Please enter a valid country!</div>
          </div>
        </div>

        <div class="mb-3">
          <lable for="location" class="form-label">Location</lable>
          <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required />
          <div class="invalid-feedback">Please enter a valid location!</div>
        </div>

        <br />
        <button class="btn btn-dark add-btn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>